filebeat.autodiscover:
  # List of enabled autodiscover providers
  providers:
    - type: docker
      templates:
        - condition:
            contains.docker.container.name: tmp_node
          config:
            - type: docker
              containers.ids:
                - "${data.docker.container.id}"
#============================= Filebeat modules ===============================

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

#================================ General =====================================

name: {{ shipper_name }}
fields:
  env: {{ env }}
  project: {{ project_name }}
  app: {{ app_name }}

#================================ Outputs =====================================
#----------------------------- Logstash output --------------------------------
output.logstash:
  hosts: ["{{ logstash_url }}"]
  ssl.certificate_authorities: ["/etc/ssl/certs/ca-certificates.crt"]
