version: '3'

services:
{% for i in range(nodes_in_region | int) %}
  node_{{ key + i }}:
    image: "{{ iroha_image_name }}:{{ iroha_image_tag }}"
    ports:
      - "{{ torii_port + i }}:{{ torii_port + i }}"
      - "{{ internal_port + i }}:{{ internal_port + i }}"
    environment:
      - KEY=node{{ key + i }}
    depends_on:
      - postgres_{{ key + i }}
    tty: true
    restart: always
    volumes:
      - "{{ iroha_conf }}{{ i }}:{{ iroha_conf_docker }}"
    networks:
      - "{{ iroha_net_name }}_{{ i }}"

  postgres_{{ key + i }}:
    image: "{{ pg_image_name }}:{{ pg_image_tag }}"
    environment:
      - POSTGRES_USER={{ pg_user }}
      - POSTGRES_PASSWORD={{ pg_pass }}
    networks:
      - "{{ iroha_net_name }}_{{ i }}"

{% endfor %}

networks:
{% for i in range(nodes_in_region | int) %}
  {{ iroha_net_name }}_{{ i }}:
{% endfor %}
